.layout-container {
    padding-top: 78px;
}

button.delete-document {
    font-size: 11px;
    margin-top: -4px;
}

.box {
    text-align: center;
}

/*
disabled logo
background-image: url("https://bbvaopen4u.com/sites/default/files/styles/big-image/public/img/new/bbva-open4u-meteor.png?itok=vESUGNpw");
background-repeat: no-repeat;
background-position-x: center;
background-size: 30%;
box-sizing: border-box;
width: 100%;
height: 100%;
color: white;
width: 100%;
height: 100%;
color: white;
*/

h1 * {
    margin-bottom: 10px;
    font-size: x-large;
    color: red;
    display: block;
}

.footer {
    margin: 40px;
}

.footer #author {
    color: red;
}

.footer #motto {
    color: orange;
    font-size: large;
}

#demo {
    font-size: xx-large;
    color: orange;
    font-style: oblique;
    font-weight: bold;
}
