<template name="LayoutsList">
    <div class="panel-heading">
        <p>This layout shows one row that contains 2 columns: column 1 contains the field name and column 2 contains the field age.</p>
        <p>Furthermore, the view generates also contains a Save button; which saves a document.</p>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title"><b>Layouts</b></h2>
        </div>
        <div class="panel-body">
            <div class="row row-start-section">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Fields</th>
                            <th scope="col">Buttons</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each layouts}}
                            <tr>
                                <td>{{_id}}</td>
                                <td>
                                    {{#each header.rows}}
                                        {{#each columns }}
                                            {{  fieldNameById fieldId }} <br>
                                        {{/each}}
                                    {{/each}}
                                </td>
                                <td>
                                    {{buttons}}
                                </td>

                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
