<template name="navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">SPA Demo</a>
            </div>
        </div>
    </nav>
</template>
