<template name="layout">
    {{> navbar }}

    <div class="container layout-container">
        {{> Template.dynamic template=home}}
        {{> Template.dynamic template=documentList}}
        {{> Template.dynamic template=schema}}
    </div>


    {{> footer }}
</template>
